  <span class="guess">How much do you suppose <%= @receiving_user.name %> earns per year? <%= @f.text_field :suspected_amount, :value => @guess.suspected_amount %></span>
  <span class="submit.button"><%= @f.submit%></span>
