New!
<% form_for @guess, :url=> guess_path(@guess),  :html => {:method=> :post} do |f|  %>
  <span class="guess">How much does this maaderchote make? <%= f.text_field :suspected_amount, :value => @guess.suspected_amount %></span>
  <span class="submit.button"><%= f.submit%></span>
<% end %>
