New!
<% form_for @guess, :url=> guess_path(@guess),  :html => {:method=> :put} do |f|  %>
  <span class="guess">How much does this maaderchote make? <%= f.text_field :amount, :value => @guess.amount %></span>
  <span class="submit.button"><%= f.submit%></span>
<% end %>
