
<% form_tag do -%>
  <p><label for="whoareyou">Who are you?</label><br/>
  <%= text_field_tag 'whoareyou' %></p>
  <p class="note">Feel free to identify yourself using your name, ThoughtWorks ID, or ThoughtWorks email address.</p>

  <p><%= submit_tag 'Log in' %></p>
<% end -%>