
<h1>About Shaker</h1>

<p class="web-two-oh">We wrote Shaker to increase transparency in ThoughtWorks. And some other stuff.</p>

<p class="web-two-oh">Remember, Shaker is all in good fun. It's also completely voluntary; if you'd prefer not to participate, simply don't log in.</p>
        
<p class="web-two-oh">Written by:</p>
<ul class="web-two-oh">
  <li><a href="mailto:niranjan.paranjape@thoughtworks.com">Niranjan Paranjape</a></li>
  <li><a href="mailto:darkseid@thoughtworks.com">Sidu Ponnappa</a></li>
  <li><a href="mailto:steven@thoughtworks.com">Steven Deobald</a></li>
</ul>
