  Someone (presumably you) with access to the ThoughtWorks VPN has requested a Shaker account for  <%= @user.email %>.
  The account is now ready - you credentials are:

  Username: <%= @user.email %>
  Password: <%= @user.password %>

  Please visit this url to activate your account:

  <%= @url %>

  Note that Shaker is only accessible in ThoughtWorks offices or on the ThoughtWorks VPN.