  You'd asked to be notified whenever <%= @target_user.name %>'s salary became visible.
  Well, it has, and it's $<%= @target_user.checked_real %>

  More info over at Shaker: <%= @url %>

  Note that Shaker is only accessible in ThoughtWorks offices or on the ThoughtWorks VPN.